<a href="https://colab.research.google.com/github/urosgodnov/Python-Programming-for-Business-Analytics/blob/main/Python_IV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming for Business Analytics - Basics of Python - IV

## Pandas

In [2]:
import pandas as pd
import numpy as np

### Renaming, grouping and sorting

In [5]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'Salary': [50000, 60000, 55000, 70000],
    'Department': ['HR', 'IT', 'Finance', 'IT']
}

df = pd.DataFrame(data)

def case_statement(row):
    if row['Age'] < 25:
        return 'Young'
    elif 25 <= row['Age'] < 30:
        return 'Mid-age'
    else:
        return 'Experienced'

df['Experience Level'] = df.apply(case_statement, axis=1)
df['Annual Bonus'] = df['Salary'] * 0.1

In [ ]:
# renaming
renamed_df = df.rename(columns={'Name': 'Employee Name', 'Salary': 'Monthly Salary'})
renamed_df

In [ ]:
# Grouping by Department and Calculating Mean Salary
grouped_df = df.groupby('Department')['Salary'].mean().reset_index()
grouped_df

In [ ]:
# Sorting by Salary in Descending Order
sorted_df = df.sort_values(by='Salary', ascending=False)
sorted_df

In [ ]:
# Grouping by Multiple Columns and Calculating Multiple Aggregations
grouped_agg_df = df.groupby(['Department', 'Experience Level']).agg(
    Mean_Salary=('Salary', 'mean'),
    Total_Bonus=('Annual Bonus', 'sum'),
    Employee_Count=('Name', 'count')
).reset_index()
grouped_agg_df

In [ ]:
# Calculate Percentage Contribution of Each Employee's Salary to Their Department's Total Salary
# it broadcasts the sum of salaries for each department to all the employees belonging to that department
df['Department Total Salary'] = df.groupby('Department')['Salary'].transform('sum')
df['Salary Contribution %'] = (df['Salary'] / df['Department Total Salary']) * 100

df

### Tasks

In [ ]:
# New Sample DataFrame for demonstration
new_data = {
    'Product': ['Laptop', 'Tablet', 'Smartphone', 'Desktop', 'Smartwatch'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Wearables'],
    'Price': [1200, 300, 800, 1500, 200],
    'Units Sold': [100, 200, 150, 50, 300],
    'Rating': [4.5, 4.2, 4.7, 4.3, 4.8]
}

new_df = pd.DataFrame(new_data)

In [ ]:
# Grouping by Category and Calculating Total Revenue
# revenue should be calculated with units*price

In [ ]:
# Sorting by Revenue in Descending Order

In [ ]:
# Grouping by Rating Category and Calculating Multiple Aggregations
# Avg_Price, Total_Units_Sold, Product_Count
new_df['Rating Category'] = np.select(
    condlist=[
        new_df['Rating'] >= 4.5,
        (new_df['Rating'] >= 4.0) & (new_df['Rating'] < 4.5),
        new_df['Rating'] < 4.0
    ],
    choicelist=['Excellent', 'Good', 'Average'],
    default='Unknown'
)

In [ ]:
# Calculate Each Product's Contribution to Total Revenue

### Solutions

In [ ]:
new_df['Revenue'] = new_df['Price'] * new_df['Units Sold']  # Ensure 'Revenue' exists for this task
grouped_revenue_df = new_df.groupby('Category')['Revenue'].sum().reset_index()

grouped_revenue_df

In [ ]:
sorted_revenue_df = new_df.sort_values(by='Revenue', ascending=False)

sorted_revenue_df

In [ ]:
grouped_rating_df = new_df.groupby('Rating Category').agg(
    Avg_Price=('Price', 'mean'),
    Total_Units_Sold=('Units Sold', 'sum'),
    Product_Count=('Product', 'count')
).reset_index()

grouped_rating_df

In [ ]:
new_df['Total Revenue'] = new_df['Revenue'].sum()
new_df['Revenue Contribution %'] = (new_df['Revenue'] / new_df['Total Revenue']) * 100

new_df