<a href="https://colab.research.google.com/github/urosgodnov/Python-Programming-for-Business-Analytics/blob/main/Python_IV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming for Business Analytics - Basics of Python - IV

## Pandas

In [2]:
import pandas as pd
import numpy as np

### Renaming, grouping and sorting

In [5]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'Salary': [50000, 60000, 55000, 70000],
    'Department': ['HR', 'IT', 'Finance', 'IT']
}

df = pd.DataFrame(data)

def case_statement(row):
    if row['Age'] < 25:
        return 'Young'
    elif 25 <= row['Age'] < 30:
        return 'Mid-age'
    else:
        return 'Experienced'

df['Experience Level'] = df.apply(case_statement, axis=1)
df['Annual Bonus'] = df['Salary'] * 0.1

In [ ]:
# renaming
renamed_df = df.rename(columns={'Name': 'Employee Name', 'Salary': 'Monthly Salary'})
renamed_df

In [ ]:
# Grouping by Department and Calculating Mean Salary
grouped_df = df.groupby('Department')['Salary'].mean().reset_index()
grouped_df

In [ ]:
# Sorting by Salary in Descending Order
sorted_df = df.sort_values(by='Salary', ascending=False)
sorted_df

In [ ]:
# Grouping by Multiple Columns and Calculating Multiple Aggregations
grouped_agg_df = df.groupby(['Department', 'Experience Level']).agg(
    Mean_Salary=('Salary', 'mean'),
    Total_Bonus=('Annual Bonus', 'sum'),
    Employee_Count=('Name', 'count')
).reset_index()
grouped_agg_df

In [ ]:
# Calculate Percentage Contribution of Each Employee's Salary to Their Department's Total Salary
# it broadcasts the sum of salaries for each department to all the employees belonging to that department
df['Department Total Salary'] = df.groupby('Department')['Salary'].transform('sum')
df['Salary Contribution %'] = (df['Salary'] / df['Department Total Salary']) * 100

df

### Tasks

In [ ]:
# New Sample DataFrame for demonstration
new_data = {
    'Product': ['Laptop', 'Tablet', 'Smartphone', 'Desktop', 'Smartwatch'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Wearables'],
    'Price': [1200, 300, 800, 1500, 200],
    'Units Sold': [100, 200, 150, 50, 300],
    'Rating': [4.5, 4.2, 4.7, 4.3, 4.8]
}

new_df = pd.DataFrame(new_data)

In [ ]:
# Grouping by Category and Calculating Total Revenue
# revenue should be calculated with units*price

In [ ]:
# Sorting by Revenue in Descending Order

In [ ]:
# Grouping by Rating Category and Calculating Multiple Aggregations
# Avg_Price, Total_Units_Sold, Product_Count
new_df['Rating Category'] = np.select(
    condlist=[
        new_df['Rating'] >= 4.5,
        (new_df['Rating'] >= 4.0) & (new_df['Rating'] < 4.5),
        new_df['Rating'] < 4.0
    ],
    choicelist=['Excellent', 'Good', 'Average'],
    default='Unknown'
)

In [ ]:
# Calculate Each Product's Contribution to Total Revenue

### Solutions

In [ ]:
new_df['Revenue'] = new_df['Price'] * new_df['Units Sold']  # Ensure 'Revenue' exists for this task
grouped_revenue_df = new_df.groupby('Category')['Revenue'].sum().reset_index()

grouped_revenue_df

In [ ]:
sorted_revenue_df = new_df.sort_values(by='Revenue', ascending=False)

sorted_revenue_df

In [ ]:
grouped_rating_df = new_df.groupby('Rating Category').agg(
    Avg_Price=('Price', 'mean'),
    Total_Units_Sold=('Units Sold', 'sum'),
    Product_Count=('Product', 'count')
).reset_index()

grouped_rating_df

In [ ]:
new_df['Total Revenue'] = new_df['Revenue'].sum()
new_df['Revenue Contribution %'] = (new_df['Revenue'] / new_df['Total Revenue']) * 100

new_df

### Handling missing data

In [ ]:
missing_data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'Department': ['HR', 'IT', 'Finance', np.nan, 'IT', 'HR', np.nan, 'Finance', 'IT', 'HR'],
    'Salary': [50000, 60000, None, 55000, 70000, 48000, None, None, 62000, 52000],
    'Join Date': ['2020-01-15', '2019-06-01', '2021-03-20', None, '2018-12-11', '2015-07-10', None, '2017-09-23', '2016-03-30', '2019-11-12'],
    'Performance Rating': [4.5, np.nan, 4.7, 4.3, None, 4.2, 4.6, np.nan, 4.1, None]
}

missing_df = pd.DataFrame(missing_data)
missing_df.head()

In [ ]:
# Checking for null values in the DataFrame
null_values_check = pd.isnull(missing_df)

null_values_check

In [ ]:
# Selecting rows where a specific column has null values
null_rows_salary = missing_df[missing_df['Salary'].isnull()]

null_rows_salary

In [ ]:
# Counting total null values per column
null_count = pd.isnull(missing_df).sum()

null_count

In [ ]:
# Dropping rows with any null values
dropped_na_rows = missing_df.dropna()

dropped_na_rows

In [ ]:
# Dropping columns with any null values
dropped_na_columns = missing_df.dropna(axis=1)

dropped_na_columns

In [ ]:
# Replacing missing values with a specified value (e.g., 0 for 'Salary')
filled_na_with_zero = missing_df.fillna({'Salary': 0})

filled_na_with_zero

In [ ]:
# Replacing missing values in a Series with its mean (example: 'Performance Rating')
missing_df['Performance Rating'] = missing_df['Performance Rating'].fillna(missing_df['Performance Rating'].mean())

missing_df

In [ ]:
# Advanced: Forward Fill Missing Values in Join Date
missing_df['Join Date'] = missing_df['Join Date'].fillna(method='ffill')

missing_df

In [ ]:
# Advanced: Backward Fill Missing Values in Department
missing_df['Department'] = missing_df['Department'].fillna(method='bfill')

missing_df

In [ ]:
# interpolate() function in pandas fills missing values in a column by estimating their values using a defined interpolation method.
# By default, it uses linear interpolation, which assumes a straight line between known data points to estimate the missing values.

missing_df['Salary'] = missing_df['Salary'].interpolate()
missing_df['Performance Rating'] = missing_df['Performance Rating'].interpolate()

missing_df

### Task

In [ ]:
# Task Instructions:
# 1. Replace missing values in the 'Department' column with "Unknown".
# 2. Replace missing values in the 'Salary' column with the average salary.
# 3. Replace missing values in the 'Join Date' column with "2020-01-01".
# 4. Replace missing values in the 'Performance Rating' column with the column's mean.
# 5. Rename the 'Performance Rating' column to 'Rating'.
# 6. Create a subset of rows where 'Salary' is greater than 55000 and only include 'Employee' and 'Salary'.
# 7. Group the data by 'Department' and calculate the average salary and count of employees.

data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Department': ['HR', 'IT', 'Finance', 'IT', None],
    'Salary': [50000, 60000, 55000, None, 70000],
    'Join Date': ['2020-01-15', '2019-06-01', '2021-03-20', None, '2018-12-11'],
    'Performance Rating': [4.5, 4.2, 4.7, 4.3, None]
}

# Create the DataFrame
missing_df = pd.DataFrame(data)

missing_df

### Solution

In [ ]:
# 1. Replace missing values in the 'Department' column
missing_df['Department'] = missing_df['Department'].fillna('Unknown')

# 2. Replace missing values in the 'Salary' column
missing_df['Salary'] = missing_df['Salary'].fillna(missing_df['Salary'].mean())

# 3. Replace missing values in the 'Join Date' column
missing_df['Join Date'] = missing_df['Join Date'].fillna('2020-01-01')

# 4. Replace missing values in the 'Performance Rating' column
missing_df['Performance Rating'] = missing_df['Performance Rating'].fillna(missing_df['Performance Rating'].mean())

# 5. Rename the 'Performance Rating' column to 'Rating'
missing_df.rename(columns={'Performance Rating': 'Rating'}, inplace=True)

# 6. Create a subset of rows where 'Salary' is greater than 55000
salary_subset = missing_df.loc[missing_df['Salary'] > 55000, ['Employee', 'Salary']]

# 7. Group the data by 'Department'
grouped_data = missing_df.groupby('Department').agg(
    Avg_Salary=('Salary', 'mean'),
    Employee_Count=('Employee', 'count')
).reset_index()